body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
} 
.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.view-news-button {
  font-size: 16px;
  background-color: #333; /* Warna tombol lebih gelap */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.view-news-button:hover {
  background-color: #555; /* Warna lebih gelap saat tombol di-hover */
}

.auth-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
